.git
.gitmodules
.github
.idea
.vscode
.DS_Store
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv

logs_dreamerv3
logs_dreamerv3_*
dumps
dumps_*
capture_debug

KataCR/runs
KataCR/datasets
KataCR/.cache
KataCR/.git

**/*.pem
